Job Sheets/Microsoft.Flow/flows/4d3ff091-c1c0-4f29-bca3-ba40de1674f4/definition.json
{"name":"f91e8483-27b9-4edd-a7a6-d33a71c713aa","id":"/providers/Microsoft.Flow/flows/f91e8483-27b9-4edd-a7a6-d33a71c713aa","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"addTrelloNote","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"e54cd625-9ed4-4384-97a9-4baac4a10239","type":"User","tenantId":"378c2b5d-0a98-4fe3-8379-e36ec4e857cb"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-03-24T17:47:44.4430596Z","connectionKeySavedTimeKey":"2024-03-24T17:47:44.4430596Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"4c29b16e-e29c-4e79-b3ef-c45dcf71462f"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"TRN","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"JobSheetID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"description":"Please enter your input","title":"Engineer","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"text_3":{"description":"Please enter your input","title":"Mode","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true}},"required":["text","text_1","text_2","text_3"]}}}},"actions":{"Condition":{"actions":{"Get_ticket":{"type":"OpenApiConnection","inputs":{"parameters":{"ticketId":"@triggerBody()?['text']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_freshdesk","connectionName":"shared_freshdesk","operationId":"GetTicket"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_a_note_to_a_ticket":{"runAfter":{"Get_ticket":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"ticketId":"@outputs('Get_ticket')?['body/id']","body/body":"Job sheet @{triggerBody()?['text_1']} has been assigned to this ticket. \n\nJob sheet was made by @{triggerBody()?['text_2']}","body/private":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_freshdesk","connectionName":"shared_freshdesk","operationId":"AddNote"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"else":{"actions":{"Get_ticket_1":{"type":"OpenApiConnection","inputs":{"parameters":{"ticketId":"@triggerBody()?['text']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_freshdesk","connectionName":"shared_freshdesk","operationId":"GetTicket"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_ticket":{"runAfter":{"Get_ticket_1":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"ticketId":"@outputs('Get_ticket_1')?['body/id']","body/body":"Job Sheet @{triggerBody()?['text_1']} has been updated. \n\nJob Sheet was updated by @{triggerBody()?['text_2']}."},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_freshdesk","connectionName":"shared_freshdesk","operationId":"AddNote"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":{"and":[{"equals":["@triggerBody()?['text_3']","Add"]}]},"type":"If"}},"outputs":{}},"connectionReferences":{"shared_freshdesk":{"connectionName":"ad7647bbc2774050922417c2aa6cefc7","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_freshdesk","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}