Job Sheets/Microsoft.Flow/flows/16a4d8db-d70d-431f-9e5a-d09bec6f1d92/definition.json
{"name":"831c737e-63f1-4b79-8503-3adae96546f0","id":"/providers/Microsoft.Flow/flows/831c737e-63f1-4b79-8503-3adae96546f0","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"createPDf","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"e54cd625-9ed4-4384-97a9-4baac4a10239","type":"User","tenantId":"378c2b5d-0a98-4fe3-8379-e36ec4e857cb"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-04-24T10:52:24.9033569Z","connectionKeySavedTimeKey":"2024-04-24T10:52:24.9033569Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"1ebc42b3-f93d-4703-ab9e-50a80d9e2125"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"number":{"description":"Please enter a number","title":"JobID","type":"number","x-ms-content-hint":"NUMBER","x-ms-dynamically-added":true},"number_1":{"description":"Please enter a number","title":"ExpensesID","type":"number","x-ms-content-hint":"NUMBER","x-ms-dynamically-added":true}},"required":["number","number_1"]}}}},"actions":{"Get_Job":{"runAfter":{"Initialize_variable_-_total_equipment_cost":["Succeeded"]},"metadata":{"operationMetadataId":"8cd68805-38fe-4873-a416-e212066b69c1"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ardenit.sharepoint.com","table":"1e32145e-e06c-4046-99b2-830aa57e914f","id":"@triggerBody()?['number']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_equipment_from_job_id":{"runAfter":{"Get_expenses":["Succeeded"]},"metadata":{"operationMetadataId":"056325ee-2649-4d0e-ab8f-2a13aa9c604a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ardenit.sharepoint.com","table":"60d15842-942c-482c-b3db-cb8d037cacc3","$filter":"JobID eq '@{body('Get_Job')?['ID']}'"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_-_equipment":{"foreach":"@outputs('Get_equipment_from_job_id')?['body/value']","actions":{"Add_equipment_content_to_variable":{"metadata":{"operationMetadataId":"65ee3631-eaae-487a-a813-3b2edf4e3d2c"},"type":"AppendToStringVariable","inputs":{"name":"temp","value":"@body('Get_equipment_from_job_id')"}}},"runAfter":{"Get_receipts":["Succeeded"]},"metadata":{"operationMetadataId":"fd076ca7-e540-47a0-97f2-04efced2e189"},"type":"Foreach"},"Get_expenses":{"runAfter":{"get_Client_details":["Succeeded"]},"metadata":{"operationMetadataId":"59fc18ea-af4a-41a6-95d5-0c680d276f48"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ardenit.sharepoint.com","table":"e7dd3f7e-4b27-48f1-bc9a-fd3a45b66707","id":"@triggerBody()?['number_1']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_HTML_output":{"runAfter":{"Create_Receipts_output":["Succeeded"]},"metadata":{"operationMetadataId":"8a347a62-5047-42af-a3b3-f85c723bdd34"},"type":"Compose","inputs":"<style>\nTable {\n  font-family: Arial, Helvetica, sans-serif;\n  background-color: #EEEEEE;\n  border-collapse: collapse;\n  width: 100%;\n}\n\nTable td, Table th {\n  border: 1px solid #ddd;\n  padding: 3px 3px;\n}\n\nTable th {\n  font-size: 15px;\n  font-weight: bold;\n  padding-top: 12px;\n  padding-bottom: 12px;\n  text-align: left;\n  background-color: #e55e25;\n  color: white;\n}\n</style>\n<html>\n<h1 style=\"text-align: right\">Job Sheet - @{body('Get_Job')?['ID']}</h1>\n<h2> Date - @{formatDateTime(body('Get_Job')?['Date'],'dd/MM/yyyy')} </h2>\n<h3>Client - @{body('get_Client_details')?['Title']}</h3>\n<p>Days to charge - @{body('Get_Job')?['Days']}</p>\n<p> Hours to charge - @{body('Get_Job')?['Hours']}</p>\n<h3 style=\"text-decoration: underline\">Details:</h3>\n<p>@{body('Get_Job')?['JobDescription']}</p>\n<h2 style=\"text-decoration: underline\">Primary Engineer:</h2>\n<p>@{body('Get_Job')?['PrimaryEngineer']?['DisplayName']}</p>\n<h2 style=\"text-decoration: underline\">Secondary Engineer:</h2>\n<p>@{body('Engineer_table')}</p>\n<h2 style=\"text-decoration: underline\">Expenses:</h2>\n<ul>\n<li>Mileage - £@{variables('MileageCost')} (@{body('Get_expenses')?['Mileage']} miles)</li>\n<li>Food - £@{body('Get_expenses')?['Food']}</li>\n<li>Parking - £@{body('Get_expenses')?['Parking']}</li>\n<li>Total - £@{variables('TotalExpensesCost')}</li>\n</ul>\n<h2>Equipment</h2>\n@{body('Equipment_Table')}\n</html>"},"Equipment_Table":{"runAfter":{"Set_variable_-_total_expenses_cost":["Succeeded"]},"metadata":{"operationMetadataId":"4c6db3c4-db25-43d8-90a6-14e571e93fca"},"type":"Table","inputs":{"from":"@outputs('Get_equipment_from_job_id')?['body/value']","format":"HTML","columns":[{"header":"Name","value":"@item()?['Title']"},{"header":"Serial Number","value":"@item()?['SerialNumber']"},{"header":"Cost","value":"£@{item()?['CostNumber']}"},{"header":"Sale","value":"£@{item()?['SaleNumber']}"}]}},"Create_file":{"runAfter":{"Create_HTML_output":["Succeeded"]},"metadata":{"operationMetadataId":"be020405-aea0-466a-8b96-cdec12d6c713"},"type":"OpenApiConnection","inputs":{"parameters":{"folderPath":"/Job Sheet PDFs","name":"JobSheet@{body('Get_Job')?['ID']}.html","body":"@outputs('Create_HTML_output')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Convert_file_using_path":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"90bc4def-6361-4fc6-ab64-dcd5cf05a2e3"},"type":"OpenApiConnection","inputs":{"parameters":{"path":"@outputs('Create_file')?['body/Path']","type":"PDF"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"ConvertFileByPath"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_PDF_for_Job_Sheet":{"runAfter":{"Convert_file_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"44c4cb7d-5ebb-45c4-bc4d-6ac1a2c867d2"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ardenit.sharepoint.com","folderPath":"/JobsPDFs","name":"JobSheet @{body('Get_Job')?['ID']}.pdf","body":"@body('Convert_file_using_path')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Initialize_variable_-_equipment":{"runAfter":{"Initialize_variable_-_receipt_links":["Succeeded"]},"metadata":{"operationMetadataId":"dc80c10d-4071-4e8b-8576-839dc90e4669"},"type":"InitializeVariable","inputs":{"variables":[{"name":"temp","type":"string"}]}},"get_Client_details":{"runAfter":{"Get_Job":["Succeeded"]},"metadata":{"operationMetadataId":"1f3537d2-e8a7-4473-af80-c7d091c546d7"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ardenit.sharepoint.com","table":"2b7495df-6b34-43a5-8da9-80f0981c0bc9","id":"@body('Get_Job')?['ClientID']?['Id']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Initialize_variable_-_mileage_cost":{"runAfter":{"Initialize_variable_-_equipment":["Succeeded"]},"metadata":{"operationMetadataId":"f8e14c18-5b46-480c-aa17-4ce19a49823d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"MileageCost","type":"float"}]}},"Set_variable_-_mileage_cost":{"runAfter":{"Apply_to_each_-_receipts":["Succeeded"]},"metadata":{"operationMetadataId":"c30180f1-3e7b-4fc9-8ab3-7bd67a5e8dfb"},"type":"SetVariable","inputs":{"name":"MileageCost","value":"@float(mul(0.3, float(body('Get_expenses')?['Mileage'])))"}},"Initialize_variable_-_total_equipment_cost":{"runAfter":{"Initialize_variable_-_mileage_cost":["Succeeded"]},"metadata":{"operationMetadataId":"1b1e5eb0-8e42-455d-8af4-996777e2a3f1"},"type":"InitializeVariable","inputs":{"variables":[{"name":"TotalExpensesCost","type":"float"}]}},"Set_variable_-_total_expenses_cost":{"runAfter":{"Set_variable_-_mileage_cost":["Succeeded"]},"metadata":{"operationMetadataId":"7f859d82-cde7-40c0-8843-65391032a93d"},"type":"SetVariable","inputs":{"name":"TotalExpensesCost","value":"@add(add(variables('MileageCost'), float(body('Get_expenses')?['Food'])),float(body('Get_expenses')?['Parking']))"}},"Engineer_table":{"runAfter":{"Equipment_Table":["Succeeded"]},"metadata":{"operationMetadataId":"5316679d-86b1-4420-baf4-801db182be0a"},"type":"Table","inputs":{"from":"@body('Get_Job')?['SecondaryEngineers']","format":"HTML","columns":[{"header":"","value":"@item()?['DisplayName']"}]}},"Send_Email_to_Expenses":{"runAfter":{"Get_PDF_File_Content_for_email":["Succeeded"]},"metadata":{"operationMetadataId":"fd177665-e234-4ee8-ac6e-cd8237f9bd10"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"expenses@ardenit.net","emailMessage/Subject":"Job Sheet - @{body('Get_Job')?['ID']}","emailMessage/Body":"<p>Hi all,</p><br><p>Job Sheet @{body('Get_Job')?['ID']} has been created by @{body('Get_Job')?['PrimaryEngineer']?['DisplayName']}.</p><br><p><br><u>Receipts:</u><br>@{outputs('Create_Receipts_output')}</p><br><p>All the best,</p><br><p>Job Sheets System</p>","emailMessage/Attachments":[{"Name":"JobSheet @{body('Get_Job')?['ID']}.pdf","ContentBytes":"@body('Get_PDF_File_Content_for_email')"}],"emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Initialize_variable_-_receipt_links":{"runAfter":{},"metadata":{"operationMetadataId":"4083573e-f28d-4f03-a0bd-aa90486c1ea0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"receiptLinks","type":"array"}]}},"Apply_to_each_-_receipts":{"foreach":"@outputs('Get_receipts')?['body/value']","actions":{"Append_item_link_to_receipt_links_variable":{"metadata":{"operationMetadataId":"4dfd481e-a3b9-4ad5-baea-0e1b66dd612b"},"type":"AppendToArrayVariable","inputs":{"name":"receiptLinks","value":"@items('Apply_to_each_-_receipts')?['{Link}']"}}},"runAfter":{"Apply_to_each_-_equipment":["Succeeded"]},"metadata":{"operationMetadataId":"31424c08-b8bd-4432-b93b-ad05b1f0be60"},"type":"Foreach"},"Receipt_Links_Table":{"runAfter":{"Engineer_table":["Succeeded"]},"metadata":{"operationMetadataId":"236bb5f4-bbf0-40b1-b6ce-9c9e84943fbc"},"type":"Table","inputs":{"from":"@outputs('Get_receipts')?['body/value']","format":"HTML","columns":[{"header":"Link","value":"@item()?['{Link}']"}]}},"Create_Receipts_output":{"runAfter":{"Receipt_Links_Table":["Succeeded"]},"metadata":{"operationMetadataId":"aaa208a4-ab70-44b8-99e1-6776db17fa29"},"type":"Compose","inputs":"<style>\nTable {\n  font-family: Arial, Helvetica, sans-serif;\n  background-color: #EEEEEE;\n  border-collapse: collapse;\n  width: 100%;\n}\n\nTable td, Table th {\n  border: 1px solid #ddd;\n  padding: 3px 3px;\n}\n\nTable th {\n  font-size: 15px;\n  font-weight: bold;\n  padding-top: 12px;\n  padding-bottom: 12px;\n  text-align: left;\n  background-color: #e55e25;\n  color: white;\n}\n</style>\n<html>\n@{body('Receipt_Links_Table')}\n</html>"},"Get_PDF_File_Content_for_email":{"runAfter":{"Create_PDF_for_Job_Sheet":["Succeeded"]},"metadata":{"operationMetadataId":"0ef2a1f5-04ce-4f16-9298-86a731945438"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ardenit.sharepoint.com","id":"@outputs('Create_PDF_for_Job_Sheet')?['body/Id']","inferContentType":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_receipts":{"runAfter":{"Delay":["Succeeded"]},"metadata":{"operationMetadataId":"8c78b944-02eb-4623-a61c-6789ca006549"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ardenit.sharepoint.com","table":"0f969013-1977-4375-8d73-2b92b917a18a","$filter":"JobID eq '@{body('Get_Job')?['ID']}'"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Delay":{"runAfter":{"Get_equipment_from_job_id":["Succeeded"]},"metadata":{"operationMetadataId":"8ef97820-7f19-4b59-8194-fa210a9c3308"},"type":"Wait","inputs":{"interval":{"count":20,"unit":"Second"}}}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"99a41771bf1c42659e5ba88d7abce480","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-7e767092-b1bd-4114-bf15-0bfa6cf0af85","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-cfd2b5c2-e9cc-4265-a6e4-16190e8dfe78","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}