Calendar V2/Microsoft.Flow/flows/4d3ff091-c1c0-4f29-bca3-ba40de1674f4/definition.json
{"name":"f91e8483-27b9-4edd-a7a6-d33a71c713aa","id":"/providers/Microsoft.Flow/flows/f91e8483-27b9-4edd-a7a6-d33a71c713aa","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"addTrelloNote","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"e54cd625-9ed4-4384-97a9-4baac4a10239","type":"User","tenantId":"378c2b5d-0a98-4fe3-8379-e36ec4e857cb"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-06-21T09:02:07.4005538Z","connectionKeySavedTimeKey":"2024-06-21T09:02:07.4005538Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"4c29b16e-e29c-4e79-b3ef-c45dcf71462f"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"TRN","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"JobSheetID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"description":"Please enter your input","title":"Engineer","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"text_3":{"description":"Please enter your input","title":"Mode","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"text_4":{"description":"Please enter your input","title":"Note","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true}},"required":["text","text_1","text_2","text_3","text_4"]}}}},"actions":{"Switch":{"runAfter":{"Initialize_variable_-_trn_numbers":["Succeeded"]},"cases":{"Job_Sheet":{"case":"Add","actions":{"Get_ticket":{"metadata":{"operationMetadataId":"c3563d35-2fbe-46bd-aa2d-990239f8a9c9"},"type":"OpenApiConnection","inputs":{"parameters":{"ticketId":"@triggerBody()?['text']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_freshdesk","connectionName":"shared_freshdesk","operationId":"GetTicket"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_a_note_to_a_ticket":{"runAfter":{"Get_ticket":["Succeeded"]},"metadata":{"operationMetadataId":"b0084bde-6096-4e4e-aa64-d76cb7731e6a"},"type":"OpenApiConnection","inputs":{"parameters":{"ticketId":"@outputs('Get_ticket')?['body/id']","body/body":"Job sheet @{triggerBody()?['text_1']} has been assigned to this ticket. \n<br>\nJob sheet was made by @{triggerBody()?['text_2']}.\n<br>\nDescription: @{triggerBody()?['text_4']}.","body/private":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_freshdesk","connectionName":"shared_freshdesk","operationId":"AddNote"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"Calendar":{"case":"Event","actions":{"Set_variable_-_trn_numbers":{"type":"SetVariable","inputs":{"name":"trnnumbers","value":"@split(triggerBody()?['text'], ',')"}},"Apply_to_each":{"foreach":"@variables('trnnumbers')","actions":{"Get_ticket_2":{"metadata":{"operationMetadataId":"9f1244e3-f485-440f-af6d-1af32f72730b"},"type":"OpenApiConnection","inputs":{"parameters":{"ticketId":"@items('Apply_to_each')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_freshdesk","connectionName":"shared_freshdesk","operationId":"GetTicket"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_a_note_to_a_ticket_1":{"runAfter":{"Get_ticket_2":["Succeeded"]},"metadata":{"operationMetadataId":"134dc8cd-f36a-44fb-a3c8-335f8a1e3721"},"type":"OpenApiConnection","inputs":{"parameters":{"ticketId":"@outputs('Get_ticket_2')?['body/id']","body/body":"An event has been created by @{triggerBody()?['text_2']} for ticket number @{items('Apply_to_each')}. It has been linked to job sheet @{triggerBody()?['text_1']}.","body/private":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_freshdesk","connectionName":"shared_freshdesk","operationId":"AddNote"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Set_variable_-_trn_numbers":["Succeeded"]},"type":"Foreach"}}}},"default":{"actions":{"Get_ticket_1":{"metadata":{"operationMetadataId":"1d5414ca-f79a-4430-93a0-27ccbdf75e98"},"type":"OpenApiConnection","inputs":{"parameters":{"ticketId":"@triggerBody()?['text']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_freshdesk","connectionName":"shared_freshdesk","operationId":"GetTicket"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_ticket":{"runAfter":{"Get_ticket_1":["Succeeded"]},"metadata":{"operationMetadataId":"7ab03435-9668-496b-9812-d3f52f7602f3"},"type":"OpenApiConnection","inputs":{"parameters":{"ticketId":"@outputs('Get_ticket_1')?['body/id']","body/body":"Job Sheet @{triggerBody()?['text_1']} has been updated. \n\nJob Sheet was updated by @{triggerBody()?['text_2']}.","body/private":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_freshdesk","connectionName":"shared_freshdesk","operationId":"AddNote"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":"@triggerBody()?['text_3']","metadata":{"operationMetadataId":"677b680f-a9e8-4e79-9beb-8f838f35c5e2"},"type":"Switch"},"Initialize_variable_-_trn_numbers":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"trnnumbers","type":"array"}]}}},"outputs":{}},"connectionReferences":{"shared_freshdesk":{"connectionName":"ad7647bbc2774050922417c2aa6cefc7","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_freshdesk","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}