Calendar V2/Microsoft.Flow/flows/5f504c38-bcc7-4091-abb5-16bf2d2e0180/definition.json
{"name":"4e9a0743-b858-45a3-a0c7-6f997fbe7ef9","id":"/providers/Microsoft.Flow/flows/4e9a0743-b858-45a3-a0c7-6f997fbe7ef9","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"CreateEventInSharedCalendar","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"e54cd625-9ed4-4384-97a9-4baac4a10239","type":"User","tenantId":"378c2b5d-0a98-4fe3-8379-e36ec4e857cb"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-06-17T13:15:48.0697636Z","connectionKeySavedTimeKey":"2024-06-17T13:15:48.0697636Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"435e4a44-fdf3-418a-a441-3888af8e4892"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"number":{"description":"Please enter a number","title":"EventID","type":"number","x-ms-content-hint":"NUMBER","x-ms-dynamically-added":true}},"required":["number"]}}}},"actions":{"Get_event_from_calendar":{"runAfter":{},"metadata":{"operationMetadataId":"319dfe2d-4b59-4097-b90a-2142425da7a4"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ardenit.sharepoint.com","table":"2fd07115-7fed-45bd-8cad-487c031a239b","id":"@triggerBody()?['number']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Initialize_variable_-_start_time":{"runAfter":{"Add_secondary_engineers_to_variable":["Succeeded"]},"metadata":{"operationMetadataId":"73e16c9b-cc82-4ea4-b79d-a566908223ab"},"type":"InitializeVariable","inputs":{"variables":[{"name":"time","type":"string"}]}},"Initialize_variable_-_end_time":{"runAfter":{"Initialize_variable_-_start_time":["Succeeded"]},"metadata":{"operationMetadataId":"199f54a7-ed35-4e77-b172-2eaa79224260"},"type":"InitializeVariable","inputs":{"variables":[{"name":"endtime","type":"string"}]}},"Set_the_time":{"runAfter":{"Condition":["Succeeded"]},"cases":{"Morning":{"case":"Morning","actions":{"Set_variable":{"metadata":{"operationMetadataId":"4ef08fca-ea8b-46f3-b564-723b530a18a7"},"type":"SetVariable","inputs":{"name":"time","value":"Z08:00:00"}},"Set_variable_1":{"runAfter":{"Set_variable":["Succeeded"]},"metadata":{"operationMetadataId":"7f588071-31f5-42d7-b9d8-a46387497691"},"type":"SetVariable","inputs":{"name":"endtime","value":"Z09:00:00"}}}},"Afternoon":{"case":"Afternoon","actions":{"Set_variable-copy":{"metadata":{"operationMetadataId":"7805d35e-6b25-4346-bf1d-31a74a7376c4"},"type":"SetVariable","inputs":{"name":"time","value":"Z11:00:00"}},"Set_variable_1-copy":{"runAfter":{"Set_variable-copy":["Succeeded"]},"metadata":{"operationMetadataId":"681b62f7-b448-41a6-9e91-f1e25dc53d22"},"type":"SetVariable","inputs":{"name":"endtime","value":"Z12:00:00"}}}},"Evening":{"case":"Evening","actions":{"Set_variable-copy_1":{"metadata":{"operationMetadataId":"66a34640-fbfe-415f-ac81-197813ac6f98"},"type":"SetVariable","inputs":{"name":"time","value":"Z14:00:00"}},"Set_variable_1-copy_1":{"runAfter":{"Set_variable-copy_1":["Succeeded"]},"metadata":{"operationMetadataId":"26bebb6c-3004-403f-9af6-6f304933935a"},"type":"SetVariable","inputs":{"name":"endtime","value":"Z15:00:00"}}}}},"default":{"actions":{"Set_variable_1-copy_1-copy":{"metadata":{"operationMetadataId":"cd7ffddd-cb2d-4f64-8775-4b06580db264"},"type":"SetVariable","inputs":{"name":"endtime","value":"Z01:00:00"}}}},"expression":"@body('Get_event_from_calendar')?['Time']?['Value']","metadata":{"operationMetadataId":"b8af9651-77f7-48f8-951d-6749261e5a00"},"type":"Switch"},"Initialize_variable_-_secondary_engineers":{"runAfter":{"Get_event_from_calendar":["Succeeded"]},"metadata":{"operationMetadataId":"9a6e0c8d-15f8-40d1-abe6-7ad93be72068"},"type":"InitializeVariable","inputs":{"variables":[{"name":"secondaryEngineers","type":"string"}]}},"Add_secondary_engineers_to_variable":{"foreach":"@body('Get_event_from_calendar')?['SecondaryEngineers']","actions":{"Append_to_string_variable":{"metadata":{"operationMetadataId":"b6630bcb-f938-4ec4-8337-32d40d092d24"},"type":"AppendToStringVariable","inputs":{"name":"secondaryEngineers","value":"@{item()?['Email']};"}}},"runAfter":{"Initialize_variable_-_secondary_engineers":["Succeeded"]},"metadata":{"operationMetadataId":"bd0cb950-3cfe-4b38-bf3c-127c2d1bb6dc"},"type":"Foreach"},"Condition":{"actions":{"Set_variable_2":{"type":"SetVariable","inputs":{"name":"client","value":"N/A"}}},"runAfter":{"Initialize_variable_-_string":["Succeeded"]},"else":{"actions":{"Set_variable_3":{"type":"SetVariable","inputs":{"name":"client","value":"@body('Get_event_from_calendar')?['ClientID']?['Value']"}}}},"expression":{"and":[{"equals":["@body('Get_event_from_calendar')?['ClientID']?['Value']","@null"]}]},"type":"If"},"Initialize_variable_-_string":{"runAfter":{"Initialize_variable_-_end_time":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"client","type":"string"}]}},"Get_calendars_(V2)":{"runAfter":{"Set_the_time":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"CalendarGetTables_V2"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"For_each":{"foreach":"@outputs('Get_calendars_(V2)')?['body/value']","actions":{"Condition_1":{"actions":{"Create_event_(V4)":{"metadata":{"operationMetadataId":"c0180d03-f438-4071-b1a6-fc0f79b79bc0"},"type":"OpenApiConnection","inputs":{"parameters":{"table":"@items('For_each')?['id']","item/subject":"@{body('Get_event_from_calendar')?['Title']} - @{variables('client')}","item/start":"@{body('Get_event_from_calendar')?['startDate']}@{variables('time')}","item/end":"@{body('Get_event_from_calendar')?['endDate']}@{variables('endtime')}","item/timeZone":"(UTC+00:00) Dublin, Edinburgh, Lisbon, London","item/requiredAttendees":"@{body('Get_event_from_calendar')?['PrimaryEngineer']?['Email']};developer@ardenit.net;@{variables('secondaryEngineers')}","item/body":"<p>@{body('Get_event_from_calendar')?['TypeofEvent']?['Value']}</p><p>@{body('Get_event_from_calendar')?['Notes']}</p>","item/location":"@variables('client')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"V4CalendarPostItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"else":{"actions":{}},"expression":{"and":[{"equals":["@item()?['name']","Calendar"]}]},"type":"If"}},"runAfter":{"Get_calendars_(V2)":["Succeeded"]},"type":"Foreach"}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"99a41771bf1c42659e5ba88d7abce480","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-cfd2b5c2-e9cc-4265-a6e4-16190e8dfe78","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}